/*General*/
/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
/* RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*General*/
:root {
  --BG_C1: rgb(33, 33, 33);
  --HEADER_BG: #171717;
  --HEADER_TXT: white;
  --PADDING_S: 1rem;
  --PADDING_SL: 1.5rem;
  --TXT_C1: #785097;
  --TXT_C2: black;
}
html {
  font-family: "Oswald", sans-serif;
  font-size: min(1.5rem, 3vw);
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  min-width: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  color: var(--TXT_C2);
}
/* header */
nav h1 {
  padding: var(--PADDING_S);
  color: var(--TXT_C1);
  border-radius: 50%;
  font-weight: 900;
  text-shadow: 1px 1px 1px white;
}
nav {
  display: grid;
  height: min(100vh, 100%);
  position: sticky;
  top: 0;
  bottom: 0;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #171717;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  color: var(--HEADER_TXT);
}
nav ul li {
  display: flex;
  font-size: 0.7rem;
  border: 1px solid var(--HEADER_TXT);
}

nav ul li a:any-link {
  color: var(--HEADER_TXT);
  text-decoration: none;
  background: linear-gradient(to right, rgb(88, 88, 88) 50%, #333333 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
  background-position: left;
}
main {
  display: grid;
  grid-column: 2/10;
  grid-row: 2;
  padding: var(--PADDING_S);
}
footer {
  display: grid;
  grid-column: 2/10;
  grid-row: 3;
  background-color: #171717;
  font-size: 0.5rem;
  color: rgb(143, 143, 143);
  padding: var(--PADDING_S);
  place-content: center;
}

nav ul li {
  margin: 0.1rem 0;
  transform: skewY(-20deg);
  border-color: rgb(78, 78, 78);
}
nav ul li a {
  font-weight: 900;
  text-shadow: 1px 1px 1px black;
  background-color: rgb(78, 78, 78);
  display: grid;
  place-content: center;
  width: 100%;
  padding: var(--PADDING_S) 0.5rem;
  box-shadow: 1px 1px 1px 0 black;
}
#about .curved {
  position: relative;
  color: var(--TXT_C1);
  width: 90%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transform: rotate(280deg);
}
.curv {
  font-weight: 500;
  position: absolute;
  transform-origin: 0 90px;
  transform: rotate(calc(var(--i) * 15deg)) translateY(15px);
}
#about .about_head,
h3 {
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 3.3vw;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about p,
aside {
  text-align: center;
  color: var(--TXT_C1);
  font-size: min(0.8rem, 2vw);
  font-weight: 500;
}
aside {
  color: rgb(60, 60, 60);
}

.banner {
  margin: -24px;
  display: grid;
  height: 100vh;
}
.banner .banner__img {
  width: 100%;
  height: 90%;
}

table,
th,
tr,
caption,
td {
  border: 4px solid rgb(0, 0, 0);
  border-collapse: collapse;
}
.table {
  display: flex;
  margin: var(--PADDING_S), auto;
  justify-content: center;
  align-content: center;
}

table,
caption {
  width: 80%;
  text-align: center;
  padding: 1rem;
  background-color: #763d89;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
}
caption {
  width: 100%;
  text-transform: uppercase;
  border-bottom: 0px;
}
tr,
td,
th {
  padding: 0.5rem;
}
th {
  text-transform: uppercase;
}
